# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Fonts (if you add them later, ignore local font files)
*.ttf
*.otf

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Distribution / packaging
dist/
build/
*.egg-info/
